html {
    font-size: 16px;
    background-color: lightgray;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    padding: 2rem;
}

h1{
    text-align: center;
}

.flash-success{
    color: $text;
    background-color: rgb(14, 96, 14);
}

.flash-error{
    color: $text;
    background-color: rgb(114, 25, 11);
}

img{
    width: 100px;
}